{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{data.company_name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/meanmenu/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/spinkit/spinkit.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/cmk-hover-effect/cmk-hover.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>
