{% include "header.html" %}
<!-- Services Start -->
<div class="service-area theme-bg-4 pt-110 pb-110">
    <div class="container custom-container-1">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-70 wow fadeInUp" data-wow-delay=".3s">
                    <span>Our Products</span>
                    <h2>Why will you choose our <br> products?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                    <div class="text-center mb-20" data-wow-delay=".3s">
                        <img src="{{product.featured_image.url}}" alt="Service Icon" style="max-height:300px; border-radius: 10px;">
                    </div>
                    <h3 style="height:40px;">{{product.product_title}}</h3>
                    <p>{{product.product_description|safe|truncatechars:100}}</p>
                    <a href="{% url 'product_details' id=product.id %}">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Services End -->
{% include "footer.html" %}